<style>
body{
  margin: 0px;
}
  a{
      color:blue;
      text-decoration: none;
  }
  #Currentpage
  {
    color:red;
  }
  h1{
    font-size: 100px;
    margin: 0px;
    border-bottom: 5px solid gray;
    text-align: center;
  }
  #title
  {
    color:pink;
  }
  ol{
    font-size: 20px;
    border-right: 5px solid gray;
    width:250px;
    margin: 0px;
    padding: 20px;
  }
  #grid{
    display: grid;
    grid-template-columns: 300px 1fr;
  }
  #grid2{
    text-align: center;
  }
</style>
